@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Serif', serif;
    margin: 20px;
    padding: 0;
    background-color: #3d0b0b;
    text-align: center;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

/* Estilização do cabeçalho */
header {
    text-align: center;
    background-color: #981919;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
}

header img {
    display: block;
    margin: 0 auto;
}

header h1 {
    margin-top: 10px;
}

header p {
    font-size: 18px;
}

/* Estilização da navegação */
nav {
    background-color: red;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #b92929;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f39c12;
    color: #2c3e50;
}

/* Estilização dos planos */
.planos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.plano {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    border: 4px solid #ff5733;
    transition: transform 0.3s ease-in-out;
}

.plano h2 {
    color: #c61818;
}

.plano p {
    font-size: 16px;
    margin-top: 10px;
    color: #000;
}
